body{
font-family: 'Kirang Haerang', cursive;
background: #011627;
color: #fdfffc;
text-align: center;
border: 40px solid #2EC486;
border-top: 0px;
margin: 0px;
}
p{
  padding: 2.5%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
}
form{
  font-size: 1.5em;
  margin: 20px;
}
#sub{
  height: 60px;
  width: 120px;
  margin: 10px;
  font-size: 1.25em;
  background: #FF9F1c;
  border-radius: 20px;
}
