<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <title></title>
  </head>
  <body>
<h1>Employee Information</h1>
{% if emp_list%}
   <table>
     <thead>
       <th>EMP NO</th>
       <th>EMP NAME</th>
       <th>EMP SALARY</th>
       <th>EMP ADDRESS</th>
     </thead>
     {% for emp in emp_list %}
        <tr>
          <td>{{emp.eno}}</td>
          <td>{{emp.ename}}</td>
          <td>{{emp.esal}}</td>
          <td>{{emp.eaddr}}</td>
        </tr>
    {% endfor %}
   </table>
   {% else%}
     <p>No employee found</p>
   {% endif %}
  </body>
</html>
