<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
  <div class="container" align="center">
    <div class="jumbotron">
     <h1>Hello, Welcome to Django</h1>
     <p>...</p>
     <p><a class="btn btn-primary btn-lg" href="/empinfo" role="button">Clic here to get employee info</a></p>
    </div>

  </div>
  </body>
</html>
