<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <title></title>
<style>
  span{
    font-size: 200px;
    color: red;
  }
</style>
  </head>
  <body>
    <h1>The page count is: <span>{{count}}</span></h1>
  </body>
</html>
