body{
  /*background: url(https://images.unsplash.com/photo-1492708398880-82c528f414c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf9a93580f1897ed3b6daa1d9226add2&auto=format&fit=crop&w=1400&q=80);
*/
background: url('../images/dhabha.jpg')
}
h1{
  color: red;
}
