<!DOCTYPE html>
{% extends 'testapp/base.html'%}
     {%block body_block%}
   <div class="jumbotron">
  <div class="container">
  <!--all content in this block-->
      <h1>Welcome to Campus Exams</h1>
      <h2>Rules:</h2>
      <p>How to give online examination?
Great! You’ve decided to give an online exam. But how does this exactly work? What can you expect? Hopefully, you will learn how to do this by following these few steps.

Set up the exam
There are different kinds of questions you can ask: multiple choice, fill in the blanks and free text. There are even different kinds of multiple choice questions you can ask. Adding pictures, videos or an audio makes your participants more active. After creating your questions, it’s time to set the amount of time. :-)

Why should you include a timer? Read the answer here. But when do participants pass their exams? You can set your own rules for that. For example by saying that if you’ve got 70% of the exam right, they’ll pass.

Inform your students about the exam
The introduction page is the first page that will be shown to your participants. You can write down what participants can expect from your exam. By telling the participants what they can expect, it will take down the amount of stress. Examples of what you can tell; name of course, types of questions and time management they can expect.

Results and statistics
Participants can view their results after they’ve made the test. You can show the correct answers and score per question, show score per question only or not at all. Learning from your mistakes is a good contribution to get better results next time. You can even send them a certificate, which will motivate them even more of course. The certificate will be send automatically to participants. You can choose from different templates, which will make it more easy for you to design a certificate. Read more about online certification.

The quizcreator is able to see a lot more than what participants see. You can view all correct answered questions, incorrect answered questions, total of answered questions, average points and the average score of your participants. Beside that you can view the statistics per questions. You get an immediate view of what should be done better. That’s a whole lot! This is an overview of the whole group.

Another possibility is to view statistics per user. You can view several data about your participants: what time did they start, name, e-mail,  pointes scored, score and whether they finished the test. If you want to, you can view more details about a certain user. You can view what their answers were on what question and whether it was right or not.  With only one click on a button you can export your statistics to an Excel file (in which you have all statistics per user).</p>
  </div>
  </div>
     {%endblock%}
