<!DOCTYPE html>
{% extends 'testapp/base.html'%}
     {%block body_block%}
   <div class="jumbotron">
  <div class="container" align="center">
  <!--all content in this block-->
      <h1>Thanks for visiting CAMPUSEXAMS</h1>
      <a href="/accounts/login" class="btn btn-primary btn-lg btn-success">LOGIN</a>

  </div>
  </div>
     {%endblock%}
