<!DOCTYPE html>
{% extends 'testapp/base.html'%}
     {%block body_block%}

  <div class="container">
    <div class="jumbotron">
  <!--all content in this block-->

  <h1>Are You</h1>
  <p>The objective of this application is to allow old
and new students of a university or college to
communicate with each other. This allows students to
know about each other and their current activities.
</p>

    <a class="btn btn-primary btn-lg " href="#" role="button">Event Handler</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Student</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Alumni</a>
</div>

</div>
  </div>
     {%endblock%}
