<!DOCTYPE html>
{% extends 'testapp/base.html'%}
     {%block body_block%}
   <div class="jumbotron">
  <div class="container" align="center">
  <!--all content in this block-->
      <h1>Welcome to Python Exams</h1>

  </div>
  </div>
     {%endblock%}
