<!DOCTYPE html>
{% extends 'testapp/base.html'%}
     {%block body_block%}
   <div class="jumbotron">
  <div class="container" align="center">
  <!--all content in this block-->
      <h1>Thanks for visiting CAMPUSEXAM</h1>
      <table border="2">
        <thead>
          <th>Name</th>
          <th>Contact</th>
          <th>Email</th>
          <th>State</th>
          <th>Coompany</th>
          <th>Year</th>
          <th>Picture</th>
        </thead>
        {% for f in form %}
        <tr>
          <td>{{f.name}}</td>
          <td>{{f.contact}}</td>
          <td>{{f.email}}</td>
          <td>{{f.state}}</td>
          <td>{{f.company}}</td>
          <td>{{f.year}}</td>
          <td>{{f.picture}}</td>
        </tr>
        {%endfor%}
      </table>
      
  </div>
  </div>
     {%endblock%}
