body{
  background: #bdc646;
}
h1{
  color:#9b79b8;
}
h2{
  color:yellow;
}
li{
  color: #0549b7;
}
p{
  background: white;
}
input{
  border:5px red solid;
}
.hello{
background: blue;
color:white;
}
#special{
  border: 10px orange solid;
}
input[type="text"]{
  background: green;
}
input:checked{
  margin-left: 25px
}
label{
  text-transform: uppercase;
}
#special:first-letter{
  color:green;
  font-size: 100px;
}
h1:hover{
  color:blue;
  border: 2px blue solid;
}
a:visited{
  color:yellow;
}
a:hover{
color:red;
}
