<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      h1{
        color:red;
        background: blue;
      }
    </style>
  </head>
  <body>
    <h1>This Template is 2nd Hero of Django!!!</h1>
    <h2>This response is coming from template file</h2><hr>
    <h2>Server date and time is :{{date_msg}} </h2>
  </body>
</html>
