<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Student info</h1>
    <h2>Nmae :{{name}}</h2>
    <h2>subject :{{subject}}</h2>
    <h2>marks :{{marks}}</h2>
  </body>
</html>
