<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks for providing info Thanks and check</h1>
    <ul>
      <li>Nmae:{{name}}</li>
      <li>Age:{{age}}</li>
      <li>Gf:{{GF}}</li>
    </ul>
  </body>
</html>
