body{
  background: url(https://images.unsplash.com/photo-1501959181532-7d2a3c064642?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ffb47d2c8a236bae5e5bb86b2c400b9&auto=format&fit=crop&w=1370&q=80);

}
.container{
  margin-top: 200px;
}
.jumbotron a{
  background: yellow;

  color: red;
  border : 2px red solid;
}
img{
  height: 200px;
  width: 30%;
  float:left;
  margin: 1.5%;
  border: 2px red solid;

}
.imageb{
 border: 3px solid red;
}
h1{
  color: white;
  text-align: center;
  background: red;
}
table,thead,th,tr,td{
  color: yellow;
  border: 2px solid white;
  font-size: 20px;
}
