<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {% block body_block%}
       <h1>Add item form</h1>
       <form  method="post">
         {{form.as_p}}
         {%csrf_token%}
         <input type="submit" class='btn btn-primary btn-large' value="Additem">
       </form>
    <a class='btn btn-primary btn-large' href="/display" role="buton">Display item</a>
  {% endblock%}
