<!DOCTYPE html>
<html lang="  dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container"   align="center">
     {% block body_block%}
     {% endblock  %}
    </div>
  </body>
</html>
