<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {% block body_block%}
   <h1>Your shoping cart info.</h1>
   {% if request.session%}
     <table>
       <thead>
         <th>Name Item</th>&nbsp;
         &nbsp;<th>Quantity</th>
       </thead>

       {% for key ,values in request.session.items%}
        <tr>
          <td>{{key}}</td>
          <td>{{values}}</td>
        </tr>
        {% endfor%}
        </table>
        {%else%}
        <p>No item for shopping cart</p>
    {%endif%}

    {% endblock%}
