<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static "css/demo.css"%}">
  </head>
  <body>
    <h1>News page</h1>
  </body>
</html>
