<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="{% static "css/fb.css"%}">
  <style media="screen">
    body{
      background: url(https://images.unsplash.com/photo-1537819191377-d3305ffddce4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0dd9faed573dc42e21f2e6106fabdea8&auto=format&fit=crop&w=1416&q=80)
    }
  </style>
  </head>
  <body >
    <div class="container" align="center">
      <h1>Student Feedback Form</h1><hr>
      <form  method="post">
        {{form.as_p}}
        {% csrf_token%}
        <input type="submit" class="btn btn-primary" value="SubmitFeedback">
      </form>
    </div>
  </body>
</html>
