<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" href="{% static "css/fb.css"%}">
  <style media="screen">
    body{
      background: url(https://images.unsplash.com/photo-1529294876904-fa47458e515b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9129958b2ef31cd2688026def83b6ea&auto=format&fit=crop&w=1534&q=80);
       }
    h1{
      margin-top: 20%;
    }
    .btn btn-primary{
      margin-left: 35%
      color:blue;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body slign="center" >
    <div class="container">
    <h1 align="center">Thanks for Registeration...........</h1>
    <a href="/feedback" type="button" class="btn btn-primary btn-lg btn-block">Feedback</a>
    <a href="/home" type="button" class="btn btn-primary btn-lg btn-block">Back</a>

  </div>
</div>
  </body>
</html>
