{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/chat.css' %}">
        <style>
            .onlineusers{
                margin:5px;padding:4px;background:radial-gradient(white,red);border-radius:5px;
            }
        </style>
    </head>
    <body>
	
         <table id='main' cellpadding=0>
                <tr height=5%>
                        <td width=80% align='center' style='color:white;'><h1> Chat With Alumni </h1></td>
                        <td width=20% id='ch'><button>Register</button><button onclick='initiate()'>Login</button></td>
                </tr>
                <tr style="color:white;background-color:black;"><td colspan="2"><b id='loginuser' style="margin-left:8px;">{{loginuser}}</b><b> </b><b id="logs"></b><b style="float:right;margin-right:8px;" id='status'></b></td></tr>
                <tr height=83%>
                    <td>
                        <div id='chat'>
                          <!-- chat goes here -->
                        {% for data in chatdata %}
                            {% if data.0 == loginuser %}
                            <div id="me">{{data.1}}<div style="text-align:right;font-size:80%">{{data.2}}</div></div>
                            {% else %}
                            <div id="other"><div style="background:radial-gradient(black,grey);color:white;text-align:center;border-radius:5px;">{{data.0}}</div><div>{{data.1}}</div><div style="text-align:right;font-size:80%">{{data.2}}</div></div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </td>
                    <td id='right_part'>    
                        <div id='onlineusersbox' style="background-color:grey;width:100%;height:100%;overflow-y:auto;">
                            <div style="background:radial-gradient(white,blue);text-align:center;"><h2>Online Users</h2></div>
                        </div>
                    </td>
                </tr>
                <form action='' id='form' method="GET">
                <tr height='10%'>
                    <td>
                        <div id='input'>    
                                <input name='msg' id='msg' type="text" onfocus="status(1)" onblur="status(0)" autofocus>
                        </div>
                    </td>
                    <td style='text-align:center;'><button type='submit' style='width:80%;'>Send</button></td>
                </tr>
                </form>
        </table>
	<script type="text/javascript" src="{% static 'js/chat.js' %}">
        </script>
    </body>
</html>
