{% load staticfiles     %}
<html>
<head>
        <meta charset="utf-8">
        <meta name="description" content="iit bhu Alumni Home page">
        <script src="{% static 'js/java.js' %}"> </script>
        <link rel="stylesheet" href="{% static 'css/css.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <style>
            body{background-color:white;
		}
	    table{
			font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
		}
        </style>
	<title>Login-Students</title>
</head>
<body>
    <div id="iitbhu">
                <h1 align="center"> IIT BHU(Varanasi) Login</h1>
    </div>
    <div id="TitleBar">
            <ul id="alumniT">
                 <a href="../Home/"><div class="alumni"><li>HOME<div id="bborder"></div></li></div></a>
                 <a href="../Reunion/"><div class="alumni" name="man" onmouseover="ActiveElement()" onmouseout="ActiveElement1()"><li>ALUMNI REUNION<div id="bborder"></div></li></div></a>
                 <a href="../AlumniMeet/"><div class="alumni" name="man" onmouseover="ActiveElement()" onmouseout="ActiveElement1()"><li>ALUMINI MEET<div id="bborder"></div></li></div></a>
                 <a href="../Gallery/"><div class="alumni" name="man" onmouseover="ActiveElement()" onmouseout="ActiveElement1()"><li>PHOTO GALLARY<div id="bborder"></div></li></div></a>
                 <a href="../ContactUs/"><div class="alumni" name="man" onmouseover="ActiveElement()" onmouseout="ActiveElement1()"><li>CONTACT US<div id="bborder"></div></li></div></a>  
                 <div id="login" class="alumni"><div onmouseover="ActiveElement()" onmouseout="ActiveElement1()" id="albig1"><li><a href="../Register">REGISTRATION<div id="bborder"></div></a></li><li><a onclick="faintbk(1)">LOGIN<div id="bborder"></div></a></li></div></div>
            </ul>
        </div>
        <div onmouseover="ActiveElement(),Click(1)" onmouseout="ActiveElement1(),Click(0)" id="dropd">
                        <div id="click"><h2 href="">|||</h2></div>
                        <div id="drop">
                            <a href="../AlumniMeet">
                                <div class="menu" id="menu0">ALUMNI MEET</div></a>
                            <a href="../Reunion">
                                <div class="menu" id="menu1">ALUMNI REUNION</div></a>
                            <a href="../Register">
                                <div class="menu" id="menu2">REGISTRATION </div></a>
                            <a href="../RegisteredAlumni">
                                <div class="menu" id="menu3">REGISTARED ALUMNI</div></a>
                            <a href="../Gallery">
                                <div class="menu" id="menu4">PHOTO GALLARY</div></a>
                            <a href="../News&Notifications">
                                <div class="menu" id="menu5">NEWS AND NOTIFICATOINS</div></a>
                            <a href="../Chat">
                                <div class="menu" id="menu6">CHATING</div></a>
                            <a href="../UpcomingEvents">
                                <div class="menu" id="menu7">UPCOMING EVENTS AND PROGRAMS</div></a>
                            <a href="../MakeAGift">
                                <div class="menu" id="menu8">MAKE A GIFT</div></a>
                            <a href="../OtherLinks">
                                <div class="menu" id="menu9">IIT BHU OTHER LINKS</div></a>
                            <a onclick="scroll(1)">
                                <div class="menu" id="menu10">CONTACT US</div></a>
                        </div>
        </div>
	 <!--login Form.................................................-->
             <div id='loginbody'>
                           <form action="../Login/" method="post">
			   {% csrf_token %}
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <label for="user" style="padding-left:20%;">Select User Type</label>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <select name="usertype" style='width:90%;padding:1%;' id="user">
                                            <option value="student">Student</option>
                                            <option value="alumni">Alumni</option>
                                            <option value="staff">Staff</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="username" style="padding-left:20%;">Username</label><br>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <input type="text" name="user" placeholder="username@iitbhu.ac.in" style='padding:1%;' id="username" autofocus>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="pwd" style="padding-left:20%;   ">Password</label><br>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <input type="password" name="pswd" id="pwd" style='width:90%;padding:1%;border-color:green;' placeholder="Enter Password">
                                    </td>
                                </tr>
                            </table>
                            <input type="reset" name="Cancel" value="Reset" >
                            <input type="submit" name="login" value="Login" >
                        </form>
                        <a href="" style="float:right;">Forgot Password?</a>
             </div>
        <!--End Login Form ....................................-->

	
</body>
</html>