{% load staticfiles %}
<html>   
      <link rel="stylesheet" href="{% static 'css/news.css' %}" >  
      <title>News And Notifications</title>
      {% include 'header.html' %}
        <div id="medial">
                    <a href="https://www.facebook.com" target="_blank"><img src="{% static 'images/fb.png' %}"></a>
                    <a href="www.youtube.com"><img src="{% static 'images/youtube.png' %}"></a>
                    <a href="www.twitter.com"><img src="{% static 'images/twitter.png' %}"></a>
        </div>
            <div id="Npage">
		<div id="SNpage">
                <div id="part1">
                  <h2> BHU Centennial Celebrations! </h2>
                  <p class="para1"> Dear Fellow Alumnus/Alumna,

                  This year our Alma Mater - BHU - is celebrating 100 years of contribution to education in India. To launch the celebrations, the IIT-BHU Global Alumni Association will be hosting a Global Meet at the Santa Clara Convention Center, CA on the 17th of September 2016. An event of this importance requires your whole-hearted support and participation.<br>
                  Please register http://centenary.iitbhuglobal.org/registration as soon as possible and mark September 17 on your calendar. Please convey this message to your BHU friends. Looking forward to seeing you at the event,
                  Thank You.<br><br>

                  Ramesh Srinivasan
                  (Metallurgy 1982)
                  Chair, 2016 Global Alumni Meet 	Vivek Agarwal
                  (Electronics 1986)
                  Co-Chair, 2016 Global Alumni Meet 	Vish Narayanan
                  (Electrical 1983)
                  President, IIT-BHU Global Alumni Association<br><br>

                  <b>Special guests and VIPs at the Global meet will include:</b><br><br>

                  * Prof. Girish Chandra Tripathi, Vice-Chancellor of Banaras Hindu University<br>
                  * Prof. Rajeev Sangal, Director of IIT (BHU)<br>
                  * Prof. Anil K. Tripathi, Dean, Resource and Alumni, IIT (BHU)<br>
                  * Prof. Satish Tripathi, President, Sate university of New York at Buffalo, New York (M.Sc. Statistics, BHU, 1970)<br>
                  * Shri Manoj Sinha (Civil 1979), Minister of State, Communication and Railways<br>
                  * Mr. R. K. Verma (Civil 1979), Secretary, Railway Board<br>
                  * Dr. Virinder Moudgil (PhD Molecular Science 1972, BHU), President & CEO, Lawrence Technological University, Michigan<br>
                  * Ambassador Venkatesan Ashok (Civil 1981, IIT-Delhi), Consul General of India - San Francisco<br>
                  </p>
                </div>
                <div id="part2">
                  <h2> Distinguished Alumnus Award </h2>
                  <p class="para2">The Institute has decided to confer the <b> Distinguished Alumnus Award </b>on the following Alumni: <br><br>
                        * <b> Dr. Anil Bhardwaj</b> (PhD, 1992, Applied Physics), Research & Development<br>

                        * <b> Professor Brij N Agrawal</b> (B.Sc. Engg. (Hons), 1964, Mech. Engg.), Academic<br>

                        * <b> Shri Jay Chaudhry </b>(B.Tech., 1980, Electronics Engg.), Profession<br>

                        * <b> Shri Manoj Sinha</b> (B.Tech., 1979, Civil Engg),Public Life<br>

                                                            
                  </p>
                </div>
		</div>
            </div>
</body>
</html>