{% load staticfiles %}
<html>  
<head>
    	<link rel="stylesheet" href="{% static 'css/Register.css' %}">
	<script src="{% static 'js/gift.js' %}"></script>
	<title>Registration Form</title>
	{% include 'header.html' %}
	<div id='body2' style="padding-top:8%;">
    		<a href='http://iitbhu.ac.in/'><input type="button" value="IIT BHU Main site"></a>
    		<a href="http://www.technex.in/"><input type="button" value="Technex"></a>
    		<a href="http://10.1.1.131/"><input type="button" value="Fedena"></a>      	</div>
</body>
</html>