{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<body class="w3-content" style="max-width:1300px">

    <!-- First Grid: Logo & About -->
    <div class="w3-row">
        <div class="w3-half w3-black w3-container w3-center" style="height:800px">
            <div class="w3-padding-64">
                <h1><img style='width:40%;height:50%' src="{% static 'Images/logo.png' %}" /></h1>
            </div>
            <div class="w3-padding-64">
                <a href="../Home/" class="w3-btn w3-btn-block w3-hover-blue-grey w3-padding-16">Home</a>
                <a href="#work" class="w3-btn w3-btn-block w3-hover-teal w3-padding-16">Current Status</a>
                <a href="#work" class="w3-btn w3-btn-block w3-hover-dark-grey w3-padding-16">My College Life</a>
                <a href="#contact" class="w3-btn w3-btn-block w3-hover-brown w3-padding-16">Contact</a>
            </div>
        </div>
        <div class="w3-half w3-blue-grey w3-container" style="height:800px">
            <div class="w3-padding-64 w3-center">
                <h1>About Me</h1>
                <img src="/static/Profile/{{data.Profile_Image}}" class="w3-margin w3-circle" alt="Person" style="width:34%;">
                <div class="w3-left-align w3-padding-xxlarge">
                    <p><h3 align="center">{{data.First_Name}} {{data.Last_Name}}</h3></p>
                    <p align="center">Graduated from {{data.Department}}, IIT-BHU</p>
                    <p align="center">Passed out in {{data.Passout_Year}}</p>
                    <p align="center">Currently in {{data.Country}}</p>
                    <p align="center">As {{data.Designation}} at {{data.Organization}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Grid: Work & Resume -->
    <div class="w3-row">
        <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
            <div class="w3-padding-64">
                <h2>Current Status</h2>
                
            </div>
            <!--div class="w3-row w3-hide-small">
                <div class="w3-half">
                    <img src="/w3images/workbench.jpg" style="width:100%">
                </div>
                <div class="w3-half">
                    <img src="/w3images/coffee.jpg" style="width:100%">
                </div>
            </!--div-->

            <p>Marital Status: {{data.Martial_Status}}</p><br />
            <p>Currently : {{data.Current_Status}}</p><br />
            <p>At : {{data.Organization}}</p><br />
            <p>As : {{data.Designation}}</p><br />
        </div>
        <div class="w3-half w3-indigo w3-container" style="min-height:800px">
            <div class="w3-padding-64 w3-center">
                <h2>My College Life</h2>
                <p>Enrollment Number : {{data.Enrollment_Number}}</p><br />
                <p>Campus : IIT-BHU</p><br />
                <p>Department : {{data.Department}}</p><br />
                <p>Program : {{data.Program}}</p><br />
                <p>Batch of : {{data.Passout_Year}}</p><br />
                <p>I am a : {{data.Gender}}</p><br />
                <!--div class="w3-container w3-responsive">
                    <table class="w3-table">
                        <tr>
                            <th>Year</th>
                            <th>Title</th>
                            <th>Where</th>
                        </tr>
                        <tr class="w3-white">
                            <td>2012-2016</td>
                            <td>The rest is history..</td>
                            <td>Lorem ipsum</td>
                        </tr>
                        <tr>
                            <td>2009-2012</td>
                            <td>Started my own company</td>
                            <td>My Garage</td>
                        </tr>
                        <tr class="w3-white">
                            <td>2008-2009</td>
                            <td>Started working for Lorem</td>
                            <td>London, UK</td>
                        </tr>
                        <tr>
                            <td>2005-2008</td>
                            <td>Degree in Bachelor of Design</td>
                            <td>Harvard, USA</td>
                        </tr>
                        <tr class="w3-white">
                            <td>2002-2005</td>
                            <td>Degree in Bachelor of Business</td>
                            <td>RMIT University, Melbourne, Australia</td>
                        </tr>
                        <tr class="w3-hide-medium">
                            <td>2002-2005</td>
                            <td>Degree in Bachelor of Business</td>
                            <td>RMIT University, Melbourne, Australia</td>
                        </tr>
                    </table>
                </!--div-->
            </div>
        </div>
    </div>

    <!-- Third Grid: Swing By & Contact -->
    <div class="w3-row" id="contact">
        <div class="w3-half w3-dark-grey w3-container w3-center" style="height:700px">
            <div class="w3-padding-64">
                <h1>Swing By</h1>
            </div>
            <div class="w3-padding-64">
                <p>..for a cup of coffee, or whatever.</p>
                <p>{{data.Country}}</p>
                <p>{{data.Mobile_Number}}</p>
                <p>{{data.Email_Id}}</p>
            </div>
        </div>
        <div class="w3-half w3-teal w3-container" style="height:700px">
            <div class="w3-padding-64 w3-padding-xxlarge">
                <h1>Contact</h1>
                <p class="w3-opacity">GET IN TOUCH</p>
                <form class="w3-container w3-card-2 w3-padding-32 w3-white" action="../Sendmail/" method='POST'>
                    {% csrf_token %}
                        <input type="text" name="Receiever" value={{data.Email_Id}} hidden>
                    <div class="w3-group">
                        <label>Your Name</label>
                        <input class="w3-input" style="width:100%;" type="text" required name="Name">
                    </div>
                    <div class="w3-group">
                        <label>Your Email Id</label>
                        <input class="w3-input" style="width:100%;" type="text" required name="Email">
                    </div>
                    <div class="w3-group">
                        <label>Subject</label>
                        <input class="w3-input" style="width:100%;" type="text" required name="Subject">
                    </div>
                    <div class="w3-group">
                        <label>Message</label>
                        <input class="w3-input" style="width:100%;" type="text" required name="Message">
                    </div>
                    <button type="submit" class="w3-btn w3-padding w3-right">Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

