{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/reunion.css' %}">
    {% include 'header.html' %}
    <div id="medial">
        <a href="https://www.facebook.com" target="_blank"><img src="{% static 'images/fb.png' %}"></a>
        <a href="www.youtube.com"><img src="{% static 'images/youtube.png' %}"></a>
        <a href="www.twitter.com"><img src="{% static 'images/twitter.png' %}"></a>
        </div>
        <div>
            <div id="alumnireunion" id='a22' '>
                <center>
                    <form action="../Reunion/" method="POST">
                        {% csrf_token %}
                        <table id="ReunionTable" style="background-color:lightgreen;border-radius:5px;padding:1%;margin:1% auto;">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />

                            <tr>
                                <td colspan="3" align="center" style="font-size:100%;color:#1abc9c;"><h1 id='alreu'>PLAN ALUMNI REUNION</h1></td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label <!--for="Batchtoinvite"-->Batch to invite</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td>
                                    <input type="number" Value="2015" min="1985" max="2015" name="Batchtoinvite">
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label for="Department">Departments to invite</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">

                                    <input type="checkbox" value="Ceramic Engineering">Ceramic Engineering</input><br />
                                    <input type="checkbox" value="Chemical Engineering and Technology">Chemical Engineering and Technology</input><br />
                                    <input type="checkbox" value="Civil Engineering">Civil Engineering</input><br />
                                    <input type="checkbox" value="Computer Science and Engineering">Computer Science and Engineering</input><br />
                                    <input type="checkbox" value="Electrical Engineering">Electrical Engineering</input><br />
                                    <input type="checkbox" value="Electronics Engineering">Electronics Engineering</input><br />
                                    <input type="checkbox" value="Mechanical Engineering">Mechanical Engineering</input><br />
                                    <input type="checkbox" value="Metallurgical Engineering">Metallurgical Engineering</input><br />
                                    <input type="checkbox" value="Mining Engineering">Mining Engineering</input><br />
                                    <input type="checkbox" value="Pharmaceutics">Pharmaceutics</input><br />
                                    <input type="checkbox" value="Biochemical Engineering">Biochemical Engineering</input><br />
                                    <input type="checkbox" value="Biomedical Engineering">Biomedical Engineering</input><br />
                                    <input type="checkbox" value="Materials Science and Technology">Materials Science and Technology</input><br />
                                    <input type="checkbox" value="Chemistry">Chemistry</input><br />
                                    <input type="checkbox" value="Mathematical Sciences">Mathematical Sciences</input><br />
                                    <input type="checkbox" value="Humanistic Studies">Humanistic Studies</input><br />
                                    <input type="checkbox" value="Physics">Physics</input><br />
                                    <input type="checkbox" value="Other">Other</input><br />

                                </td>
                            </tr>

                            <tr>
                                <td width="40%" align="center">
                                    <label for="Program">Program to invite</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">

                                    <input type="checkbox" value="M.Pharm.">M.Pharm.</input><br />
                                    <input type="checkbox" value="Ph.D.">Ph.D.</input><br />
                                    <input type="checkbox" value="M.Tech.">M.Tech.</input><br />
                                    <input type="checkbox" value="IDD">IDD</input><br />
                                    <input type="checkbox" value="B.Tech.">B.Tech.</input><br />
                                    <input type="checkbox" value="B.Pharm.">B.Pharm.</input><br />
                                    <input type="checkbox" value="IMD">IMD</input><br />
                                    <input type="checkbox" value="Post Doctoral Fellow">Post Doctoral Fellow</input><br />
                                    <input type="checkbox" value="Other">Other</input><br />

                                </td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label for="DOR">Date of Reunion</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">
                                    <input type="date" placeholder="Enter Date of Reunion" name="DOR">
                                </td>
                            </tr>

                            <tr>
                                <td style="font-size:140%" align="center">
                                    <b>Venue</b>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">
                                    <label>

                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label for="Addr1">Address Line1</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">
                                    <input type="text" name="Addr1">
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label for="Addr2">Address Line2</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">
                                    <input type="text" name="Addr2">
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label for="State">State</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">
                                    <select name="State" id="State">
                                        <option value="1">Andaman and Nicobar (UT)</option>
                                        <option value="2">Arunachal Pradesh</option>
                                        <option value="3">Assam</option>
                                        <option value="4">Bihar</option>
                                        <option value="5">Chhattisgarh</option>
                                        <option value="6">Goa</option>
                                        <option value="7">Gujarat</option>
                                        <option value="8">Haryana</option>
                                        <option value="9">Himachal Pradesh</option>
                                        <option value="10">Jammu &amp; Kashmir</option>
                                        <option value="11">Jharkhand</option>
                                        <option value="12">Karnataka</option>
                                        <option value="13">Kerala</option>
                                        <option value="14">Madhya Pradesh</option>
                                        <option value="15">Maharashtra</option>
                                        <option value="16">Manipur</option>
                                        <option value="17">Meghalaya</option>
                                        <option value="18">Mizoram</option>
                                        <option value="19">Nagaland</option>
                                        <option value="20">Orissa</option>
                                        <option value="21">Punjab</option>
                                        <option value="22">Rajasthan</option>
                                        <option value="23">Sikkim</option>
                                        <option value="24">Tamil Nadu</option>
                                        <option value="25">Tripura</option>
                                        <option value="26" selected>Uttar Pradesh</option>
                                        <option value="27">Uttarakhand</option>
                                        <option value="28">West Bengal</option>
                                        <option value="29">Delhi</option>
                                        <option value="30">Andhra Pradesh</option>
                                        <option value="31">Chandigarh (UT)</option>
                                        <option value="32">Dadra and Nagar Haveli (UT)</option>
                                        <option value="33">Daman and Diu (UT)</option>
                                        <option value="34">Lakshadweep (UT)</option>
                                        <option value="35">Pondicherry (UT)</option>
                                        <option value="36">Telangana</option>
                                        <option value="37">Others</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label for="Country">Country</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">
                                    <select name="Country" id="Country">
                                        <option value="India">India</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td width="40%" align="center">
                                    <label for="Messagetosend">Message</label>
                                </td>
                                <td width="2%">
                                    <p>:</p>
                                </td>
                                <td width="58%">
                                    <textarea rows="20" cols="80" style='width:90%;'></textarea><br />
                                </td>
                            </tr>
                        </table>
                        <input type="reset" value="RESET" name="Reset" id="btn">
                        <input type="Submit" value="SUBMIT" name="Submit" id="btn">
                    </form>
                </center>
            </div>
</body>
</html>