div p{
  font-size: 25px;
}
div:nth-of-type(3) p{
  background: blue;
  color: white;
}
div:nth-of-type(3) p:nth-of-type(2){
  border: 5px red solid;
}
div:nth-of-type(2) em{
  color: white;
  font-size: 30px;
  background: green;
}
