<!DOCTYPE html>
{%load blogs_tags%}
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="{%static "css/blog.css"%}">
    <title> {%block title_block%}{%endblock%}</title>
  </head>
  <body >
    <div class="content">
         {%block content%}

         {%endblock%}
     </div>
     <div class="sidebar">
        <h2><marquee>ROHIT'S Blog</marquee></h2>
        <p>The total number of published posts upto today:<span id='pcount'>{%my_tag%}</span></p>
        <h3>Latest Posts: </h3>{%show_latest_posts 100%}

     </div>
  </body>
</html>
