{%extends 'testapp/base.html'%}
{%block title_block%}Share Post By Mail{%endblock%}
     {%block content%}
     {%if sent%}
        <h1>Email Successfully sent!!!</h1>
        <h2>Post with the title {{post.title}} Information shared by Email</h2>
        {%else%}
      <h1>Share with title "{{post.title}}" By EMail!!!!"</h1>
      <form method="POST">
         {{form.as_p}}
         {%csrf_token%}
         <input type="submit" class='btn btn-primary btn-lg' name="" value="Send Mail">
      </form>
  {%endif%}
     {%endblock%}
