.container
{
  text-align: center;
  font-size: 25px;
  margin-top: 25%;
  color: red;
}
body{
  background: url(https://images.unsplash.com/photo-1501959181532-7d2a3c064642?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ffb47d2c8a236bae5e5bb86b2c400b9&auto=format&fit=crop&w=1370&q=80);
}
h1{
  color: red;
}
