<!DOCTYPE html>
{% extends 'movieApp/base.html'%}
    {%block body_block%}
    <div class="jumbotron">
      <div class="container">
        <h1>Add Movie Information</h1><hr>
        <form  method="post">
          {{form.as_p}}
          {%csrf_token%}
          <input type="submit" class="btn btn-primary" value="Add Movie">
        </form>
      </div>

    </div>
    {%endblock%}
