<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <meta charset="utf-8">
    <title>Movie World </title>
    <link rel="stylesheet" href="{%static 'css/mdemo.css'%}">

  </head>
  <body>
     <nav class="navbar navbar-inverse">
       <div class="container">
         <div class="navbar-header">
           <a class="navbar-brand" href="/index">MOVIEWORLD</a>
         </div>

         <ul class="nav navbar-nav">
           <li><a href="/addmovie">Add</a></li>
           <li><a href="/listmovie">Movies_List</a></li>

         </ul>


         <ul class="nav navbar-nav navbar-right">
           <li><a href="signup "> <i class="fas fa-user-plus"></i>signup</a></li>
           <li><a href="signup "> <i class="fas fa-user-plus"></i>signup</a></li>
           <li><a href="signup "> <i class="fas fa-user-plus"></i>signup</a></li>

         </ul>
       </div>

     </nav>
     {%block body_block%}
     {%endblock%}
  </body>
</html>
