<!DOCTYPE html>
{% extends 'movieApp/base.html'%}
    {%block body_block%}
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome In Movies World </h1>
        <h2>In this You can Add movie </h2>
        <h2>You can see the latest Movies </h2>
        <p>Movies Is Best Entertainment in Our life
          Movies are partial to one man's (director's)
          imagination while books treat every reader's imagination equally. As the situations, people
          and places described in books are not seen visually, your imagination gives them color.

          Each book, each character, each place is slightly different for each reader and therein lies the magic
          (advantage?) of books. You can keep discovering a book long after you have read it. Same cannot be said for most movies.</p>

      </div>

    </div>
    {%endblock%}
