<!DOCTYPE html>
{% extends 'movieApp/base.html'%}
    {%block body_block%}
    <div class="jumbotron">
      <div class="container">
        <h1>Movie Information</h1>
        {% if movie_list %}
        <table>
          <thead>
            <th>Released Date </th>
            <th>Movie Name  </th>
            <th>Hero </th>
            <th>Heroin </th>
            <th>Rating </th>
          </thead>
          {%for movie in movie_list %}
          <tr>
            
            <td>{{movie.moviename}}</td>
            <td>{{movie.hero}}</td>
            <td>{{movie.heroin}}</td>
            <td>{{movie.rating}}</td>
          </tr>
          {% endfor %}

        </table>
        {% else %}
        <p>No movies Found </p>
        {% endif %}
      </div>

    </div>
    {%endblock%}
