<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Age Registeration Form</h1>
    <form action="/gf" >
      {{form.as_p}}
      {%csrf_token%}
      <input type="submit" name="" value="Submit Name">
    </form>
  </body>
</html>
