<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Thanks for providing information</h1>
    <ul>
      {% for key,value in request.session.items%}
      <li><h2> {{Key|upper}}:{{value|title}}</h2></li>
      {%endfor%}
    </ul>
  </body>
</html>
