body{
  background: url(https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f38005f4ef6c02f1e40c1a3af591f5e9&auto=format&fit=crop&w=1506&q=80);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: red;
  text-align: center;
}
td,table{
  margin: auto;
  border: 2px red solid;
  color: purple;
  font-size: 25px;
  font-family: monospace;
}
thead{
  background: orange;;
  color: inherit;
}
.container .jumbotron{
  margin-top: 200px;
  border: red solid 5px;
  background: grey;
}
