
body{
  border: 20px solid #bdc3c7;
  padding: 20px;
  width: 700px;
  margin: 20px auto;
  font-family: 'Pacifico', cursive;
}
.pmain{
   border-left: 5px solid red;
   padding-left: 5px;
}
.date{
  text-transform: uppercase;
  color: #3498d3;
  letter-spacing: 5px;
}
h2{
  color:blue;
  font-size: 2.0em;
}
.post{
  margin: 20px;
}

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
