<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static "css/demo.css"%}">
    <title></title>
  </head>
  <body>
<div class="container" align='center'>
<div class="jumbotron" >
  <h1>Welcome to Rohit News Portal</h1>
  <p>24*7 News</p>
  <a class="btn btn-primary btn-lg" href="/moviesinfo" role="button">
    Movies</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/sportsinfo" role="button">Sports</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/politicsinfo" role="button">Politics</a>
</div>
</div>
    <!--<h1>Home page</h1>-->
  </body>
</html>
