<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "css/demo.css"%}">
    <title></title>
  </head>
  <body>
    <h1>{{head_msg}}</h1><hr>
    <ul>
      <li>{{msg1}}</li>
      <li>{{msg2}}</li>
      <li>{{msg3}}</li>
    </ul>
    <img src="{%static "images/a.jpg"%}" alt="">
    <img src="{%static "images/b.jpg"%}" alt="">
    <img src="{%static "images/c.jpg"%}" alt="">
  </body>
</html>
