<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "css/advnews.css"}">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a class="navbar-brand" href="/">RaFTAR</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">HOME <span class="sr-only">(current)</span></a></li>
          <li><a href="/movies">MOVIES</a></li>
          <li><a href="/sports">SPORTS</a></li>
          <li><a href="/politics">POLITICS</a></li>

        </ul>


  </nav>
  {% block body_block %}

  {% endblock%}
  </body>
</html>
