<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <title></title>
  </head>
  <body>
    <h1>Welcome to static file comfiguration</h1>
    <a href="/profile">Restaurant pic</a>
  </body>
</html>
