<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">

    <title></title>
  </head>
  <body>
    <h1>This is profile page</h1>
    <img src="{% static "images/restaurant.jpg" %}" alt="">
  </body>
</html>
