
.container .jumbotron{
  background: red;
  color: white;
  margin-top: 100px;
}
body{
  background: url(https://images.unsplash.com/photo-1536419598693-94435e7f9757?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1de0c0cf7278235f61a089491fc876c2&auto=format&fit=crop&w=500&q=60https://images.unsplash.com/photo-1536419598693-94435e7f9757?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1de0c0cf7278235f61a089491fc876c2&auto=format&fit=crop&w=500&q=60);
  background-repeat:repeat;
}
h1{
  color: red;
  text-align: center;
}
ul{
  color: yellow;
  font-size: 20px;
}
img{
  height: 250px;
  width: 400px;
  border: solid red 5px;
}
