h1{
  text-align: center;
  font-family: 'Lobster', cursive;
}
table{
  margin:auto;
}
td{
  height: 200px;
  width: 150px;
  border: solid 6px white;

}

#o1{
  background: #9400D3;
}
#t2{
    background: #4B0082;
}
#t3{
  background: #0000FF;
}
#f4{
  background: #00FF00;
}
#f5{
  background: #FFFF00;
}
#s6{
  background: #FF7F00;
}
#s7{
  background: #FF0000;
}
