<!DOCTYPE html>
{% load staticfiles%}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static "css/demo.css"%}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body >
 <div class="container">
   <div class="jumbotron">
    <h1>Welcome to job portal</h1>
    <p>It's a helpful for Fresher</p>
    <p><a class="btn btn-primary btn-lg" href="/hyd.html" role="button">Hyderabad</a></p>
    <p><a class="btn btn-primary btn-lg" href="/banglore.html" role="button">Banglore</a></p>
    <p><a class="btn btn-primary btn-lg" href="/pune.html" role="button">Pune</a></p>
  </div>
</div>

  </body>
</html>
