.container .jumbotron{
  background: purple;
  color:white;
}
td{
  height: 150px;
  width: 150px;
  border: 5px solid red;
  text-align: center;
  font-size: 100px;
  color: blue;
}
#a{
  text-align:right;
  color: purple;
  font-family: sans-serif;
}
table{
  border: 10px solid green;
}
