<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      span{
        font-size: 200px;
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Page Count is:<span> {{count}}</span></h1>
  </body>
</html>
