#Register{
    width: 90%;
    border-radius: 10px;
    text-align:center;
    margin:2% auto;
    padding:5px 5px 5px 5px;
    box-shadow: 0px 0px 50px white;
    border:1px solid grey;
}
#btn:hover{
    background-color:#1abc9c;
    box-shadow:5px 5px 20px black;
    font-size: 125%;
}
#btn{
    width:12%;
    color:white;
    font-size: 120%;
    height:3%;
    background:linear-gradient(#1abc9c,#1abc9c);
    font-decoration:none;
    text-weight:bold;
    min-width:100px;
    min-height:42px;
    margin: 20px 8px 2px 8px; 
    border-radius:30px;
    border-width:2px;
}
#TitleBar{
    margin-top: 36px;
    padding-top:40px;
    background-color:#333;
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 60px;
    overflow: hidden;
    min-width: 350px;
    border-bottom: 1px solid black;
}
#TitleBar a{
    color: #fff;
    font-size:110%;
}

#TitleBar li #bborder{
    margin: auto;
    height: 2px;
    width: 0%;
    background-color: green;
    transition: 0.6s;
}
#TitleBar a:hover #bborder{
    width: 98%;
}
#TitleBar ul{
    list-style-type:none;
}
#TitleBar .alumni{
    overflow: hidden;
    display: inline-block;
    margin-top:-28px;
    height: 52px;
    width:12%;
    text-align:center;
    padding-top:18px;
}
#TitleBar #login{
    position: absolute;
    width: 35%;
}
.alumni:hover{
    background:linear-gradient(#222,#000,#222);
    background-color: #888888;
    cursor: pointer;
}
#login:hover{
    background:linear-gradient(#222,#222);
    background-color: #222;
    cursor: default;
}
#login div:hover{
    background:linear-gradient(#222,#000,#222);
    background-color: #888888;
}
#TitleBar  #albig1{ 
    overflow: visible;
    height: 100%;
    width: 180px;
    padding-top: 18px;
    margin-top:-18px;
    float: right;
}
#medial:hover{
    margin-left: 10px;
}
#medial{
    position: fixed;
    width: 0;
    z-index: 100;
    margin-top:30%;
    transition: margin-left 0.8s,margin-top 1.5s linear;
}
#TitleBar ul{
    padding-left: 76px;
}
#TitleBar #homet{
    font-size: 111%;
    text-shadow: 3px 2px 2px black;
    background:linear-gradient(#222,#000,#222);
    background-color: #222;
}
#TitleBar .alumni:hover li,#login div:hover li a{
    font-size: 111%;
    text-shadow: 3px 2px 2px black;
}
#login:hover li a{
    font-size: 100%;
    text-shadow: 0 0 0 black;
}
body{
    font-family: "Lato", sans-serif;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
#RegistrationTable{
    width: 60%;
    margin:10px 10px 10px 10px;
}
table  {
    font-size: 120%;
    border: none;
    border-spacing:0px;
}
th,td{
    height:50px;
}
table input[type="text"]:hover, input[type="number"]:hover,input[type='password']:hover, input[type="time"]:hover, input[type="date"]:hover,input[type="email"]:hover, select:hover{
    box-shadow: 0px 0px 10px green;
}
table input[type="text"]:out-of-range, input[type="number"]:out-of-range,input[type='password']::out-of-range, input[type="time"]:out-of-range, input[type="date"]:out-of-range,input[type="email"]:out-of-range, select:out-of-range{
    box-shadow: 0px 0px 10px red;
}
table input[type="text"], input[type="number"],input[type='password'],input[type="time"], input[type="date"],input[type="email"], select{
    padding-left: 2%;
    border-radius:4px;
    box-sizing:border-box;
    border-color: green;
    font-weight:bold;
    height:100%;
    width: 90%;
}
a{
    text-decoration: none;  
}
table label{
    font-weight: bold;
}
#iitbhu{
    z-index: 1100;
    text-transform: uppercase;
    width: 100%;
    height: 70px;
    position: fixed;
    font-size:110%;
    text-align:center;
    color: white;
    background-color:#000;
    text-shadow: 2px 2px 8px black,
                 3px 3px 8px white,
                 4px 4px 8px white;
    min-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#home{
    height:100%;
    width: 100%;
    background-image: url("../Images/home0.jpg");
    background-size: 100% 100%;
}

#change{
    position: absolute;
    width:90%;   
    height: 10%;
    margin: 20% 8%;
}
#change #change1:hover,#change2:hover{
    opacity: 0.9;
}
#change #change1,#change2{
    display: inline-block;
    width:5%;  
    height:100%;
    opacity: 0.4;
    border-radius:20px;
}
#change #change2{   
    margin-left: 80%;
}
#dirr,#dirl{
    cursor: pointer;
    font-size: 130%;
    width: 100%;
    letter-spacing: 2px;
    animation:rt 0.5s infinite alternate;
    -webkit-animation: rt 0.5s infinite alternate linear;
    color:white;
}
@-webkit-keyframes rt{
    0%{margin-left: 0px}
    100%{margin-left: 10px}
}
@keyframes rt{
    0%{margin-left: 0px}
    100%{margin-left: 10px}
}
#dirl{

}
footer{
    z-index: 100;
    background-color: darkslateblue;
    width: 100%;
    height: 30px;
    color: white;
    font-weight: bold;
}
#About{
    width: 80%;
    opacity: 0;
    transition: opacity 1s linear;
    background-color: darkblue;
    border-color: white;
    box-shadow: 0px 0px 5px white;
    position: absolute;
    margin: 10% 5% 2%;
    height: 280%;
}
#About:hover{
    opacity: 0.8;
}

#click{
    cursor: pointer;
    text-align: center;
    font-size: 160%;
    font-weight: bold;
    z-index: 1001;
    position: fixed;
    margin-top:34px;
    width: 55px;
    height: 114px;
    transform: rotateZ(90deg);
    transition: 1s;
    color: #fff;   
}
#click:hover{
    text-shadow: 3px 2px 2px black;
}
#dropd:hover #drop{
    opacity: 0.8;
    margin-left: 0;
}
#drop{
    z-index: 101;
    opacity:1;
    margin-left: -25%;
    transition: opacity 0.5s linear,margin-left 0.5s linear;
    width: 20%;
    height:80%;
    margin-top: 140px;
    position: fixed;
    text-align: center;
    min-width:250px;
}
#drop .menu{
    z-index: 101;
    display: inline-block;
    background-color: #222;
    width: 90%;
    margin-top:2px;  
    border-radius: 6px;
    height: 5%;  
    padding-top:5%;
    color: white;
    box-shadow: 0px 0px 2px white;
}
#drop a{
    text-decoration: none;
    color:white;
    font-size:120%;
}
#drop .menu:hover a,#drop .menu:hover{
    background-color:#eeeeee;
    color:black;
    cursor: pointer;
    background: radial-gradient(#eeeeee 10%,#222);
}
#drop #menu0,#menu1,#menu2,#menu3,#menu4,#menu5,#menu6,#menu7,#menu8,#menu9,#menu10{
    margin-bottom:-20%;
    transition: margin-bottom 0.6s linear,margin-left 0.4s linear;
}

#dropd:hover #menu0,#dropd:hover #menu1,#dropd:hover #menu2,#dropd:hover #menu3,#dropd:hover #menu4,#dropd:hover #menu5,#dropd:hover #menu6,#dropd:hover #menu7,#dropd:hover #menu8,#dropd:hover #menu9{
    margin-bottom:0%;
}
#menu0:hover,#menu1:hover,#menu2:hover,#menu3:hover,#menu4:hover,#menu5:hover,#menu6:hover,#menu7:hover,#menu8:hover,#menu9:hover,#menu10:hover{
    margin-left: 20px;
    margin-bottom:0%;
}
#page1{
    margin-top:0;
    transition: margin-top 1s linear,opacity 0.8s linear;
    width: 100%;
    height: 100%;
}
#connecter{
    opacity: 0;
    margin-top:-5%;
    position: fixed;
    width:100%;
    height:30%;
}