<!DOCTYPE html>
{%extends 'testapp/base.html'%}
     {%block body_block%}
     <h1>Employee Insertion Form</h1>
     <form  method="post">
       <table>
         {{form.as_p}}
       </table>
       {%csrf_token%}<br>
       <input type="submit" class="btn btn-primary btn-lg" value="Insert Record">
     </form>
    {%endblock%}
