<!DOCTYPE html>
{%extends 'testapp/base.html'%}
     {%block body_block%}
     <h1>Employee Information Dashboard</h1>
     <table border='2'>
       <thead>
         <th>Employee No</th>
         <th>Employee Name</th>
         <th>Employee Salary</th>
         <th>Employee Address</th>
         <th>Actions</th>
       </thead>
      {%for emp in employees%}
      <tr>
        <td>{{emp.eno}}</td>
        <td>{{emp.ename}}</td>
        <td>{{emp.esal}}</td>
        <td>{{emp.eaddr}}</td>
        <td><a href="/update/{{emp.id}}">Update</a> <a href="/delete/{{emp.id }}">Delete</a></td>
      </tr>
      {%endfor%}

    </table><br><br>
     <a href="/create"class="btn btn-success btn-lg">Tnsert new Employe</a>
    {%endblock%}
