#center{
  text-align: center;
  padding-top: 25%;
}

body{

   background:url(https://images.unsplash.com/photo-1531448050454-2196412e509a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=028d2e7282dfec270d1d5010e6fd2078&auto=format&fit=crop&w=500&q=60);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

  }
html{
  height: 100%;
}
#tc{
  color: white;
  font-weight: 700;
  font-size: 5em;
}
#tc1{
  color: red;
}
hr{
  width: 500px;
}
