<!DOCTYPE html>
{% extends 'testapp/base.html'%}
     {%block body_block%}
   <div class="jumbotron">
  <div class="container" >
  <!--all content in this block-->
  <h1>SignUp to enjoy facility.........................</h1><br><br>
  <form  method="post">
    {{form.as_p}}
    {% csrf_token%}
    <input type="submit" class="btn btn-primary" value="signup">
  </form>
  </div>
  </div>
     {%endblock%}
