<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% load cust_filters%}
    {% for r in data_list%}
    <ul>
      <li>{{r.name|lower}}</li> //  <li>{{r.name|t_n:6}}</li>
      <li>{{r.subjects|truncate5}}</li>
      <li>{{r.dept|lower}}</li>
      <li>{{r.date|lower}}</li>
    </ul><hr>
    {%endfor %}
  </body>
</html>
