<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for r in data_list%}
    <ul>
      <li>{{r.name|title|add:" pvt Limited"}}</li>
      <li>{{r.subjects|title}}</li>
      <li>{{r.dept|title}}</li>
      <li>{{r.date|date:"d-m-y"}}</li>
    </ul><hr>
    {%endfor %}
  </body>
</html>
