<!DOCTYPE html>
{% extends 'testapp/base.html'%}
{% block body_block%}
  <h1>{{book.title}} Book Information</h1>
   <h2>Book Title:{{book.title}}</h2>
   <h2>Book Author:{{book.author}}</h2>
   <h2>Book Pages:{{book.pages}}</h2>
   <h2>Book price:{{book.price}}</h2>
{%endblock%}
