<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      h1{
        color:red;
      }
      h2{color:blue;}
    </style>
  </head>
  <body>
    <h1>Hello {{name}} current date and time of server:{{msg }}</h1>
    <h2>{{msg}}</h2>
  </body>
</html>>
