<!DOCTYPE html>
<htmllang="en" dir="ltr" >
  <head>
    <meta charset="utf-8">

    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse">             <!--navbar print-->
      <div class="container">                       <!-- All data print in container-->
          <div class="navbar-header">               <!-- DATA print in header-->
              <a class="navbar-brand" href="/home">ALUMNIPORTAL</a>     <!-- Uniqly defined like Brand -->
          </div>


          <ul class="nav navbar-nav">  <!--print in left navbar-->
              <li> <a href="/java" >JAVA EXAMS</a></li>
              <li> <a href="/python" >PYTHON EXAMS</a></li>
              <li> <a href="/aptitude" >APTITUDE EXAMS</a></li>
              <li> <a href="/company_detail" >ALUMNI</a></li>
              <li> <a href="/event" >EVENT HANDLER</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">  <!--print in right side of navbar-->
              <li> <a href="/signup" > <i class="fas fa-user-plus"></i>Signup</a></li>
              <li> <a href="/accounts/login " ><i class="fas fa-hotel"></i></i>Login</a></li>
              <li> <a href="/accounts/logout"> <i class="fas fa-sign-out-alt"></i >Logout</a></li>
          </ul>
      </div>

    </nav>
    <div class="container">
      <div class="jumbotron">
        {%block body_block%}
        {%endblock%}
      </div>
  </div>
  </body>
</html>
