<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {%block body_block%}
    <h1>List of all companies</h1><hr>
    {%for company in company_list%}
      <h2><a href="/{{company.id}}">{{company.name}}</a></h2>
    {%endfor%}
    <a href="/create" class='btn btn-lg btn-primary'>Add New Company</a>
   {% endblock%}
