<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {%block body_block%}
    <h1>Employe Data insert/Create form</h1>
    <form  method="post">
      {{form.as_p}}
      {%csrf_token%}
      <input type="submit" class='btn btn-lg btn-primary' value="Insert/Update Data">
    </form>
   {% endblock%}
