<!DOCTYPE html>
{% extends 'testapp/base.html'%}
   {%block body_block%}
    <h1>Are Your SUre to Delete {{company.name}}!!!!</h1>
    <form  method="post">
      {%csrf_token%}
      <input type="submit" class='btn btn-lg btn-danger'  value="Delete Record">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <a href="/{{company.id}}" class='btn btn-lg btn-success'>Cancel</a>
    </form>
   {% endblock%}
